
<hr style="height:2px;border:none"/>
<h1 align='center'> INF-395 Desafío 2 </h1>

<H2 align='center'> Máxima Inverosimilitud </H2>
<H4 align='center'> Matías Carvajal </H3>
<H4 align='center'> Vicente Robles </H3>
<H4 align='center'> Félix Vergara </H3>

<hr style="height:2px;border:none"/>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# descomprimir archivos csv desde zip
!cp -r /content/drive/My\ Drive/Machine\ learning/price-predictionml.zip ./price-predictionml.zip

!unzip -oq price-predictionml.zip

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("/content/data/train.csv").drop(columns=['train_id'])
df['product_price']=df['price']
df=df.drop(columns='price')

In [ ]:
df

,name,item_condition_id,category_name,brand_name,shipping,item_description,product_price
0,NEON BCBGMAXAZRIA Crossbody Bag,Good,1282,BCBGMAXAZRIA,1,Awesome neon yellow color. Mini Sienna Tote (s...,17316.0
1,Purple Bikini Top,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1253,NaN,0,"Double strap bikini top, no brand. Size small,...",11544.0
2,Hair product,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",13,NaN,0,Wen by Chaz Dean Comes with 3 Cleansing Condit...,61568.0
3,Chi Omega Sorority gold foil tshirt,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1260,American Apparel,1,Gossip girl inspired tshirt for Chi Omega. Xs....,11544.0
4,Baby girl lot,Good,626,NaN,0,"All clothes with 6,6-9 months white bottoms 3-...",9620.0
...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",79,Michael Kors,0,In great condition,32708.0
1107152,3 bras 36A&36B,Good,1265,Victoria's Secret,0,3 bras that are in used condition but have a l...,15392.0
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",85,NaN,1,This case is made up of two parts，the armour &...,8658.0
1107154,U of o tee,Good,1260,Nike,1,No description yet,4810.0
1107155,Fidget Spinner purple,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",690,NaN,1,50% off Brand new Free shipping Fast shipping ...,2886.0

Haremos get_dummies del item_condition_id

In [ ]:
df['item_condition_id'].unique()

array(['Good', 'Like New (codes: BNWOT, MWOB, NWOT, BNWOB)',
       'New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)', 'Fair', 'Poor'],
      dtype=object)

Haremos Ordinal encoder del brand_name

In [ ]:
df['brand_name'].unique().shape

(4430,)

Haremos analisis de sentimientos para identificar si una descripción es positiva, negativa o neutral.

In [ ]:
import nltk

nltk.download([
      "names",
    "stopwords",
    "state_union",
    "twitter_samples",
    "movie_reviews",
    "averaged_perceptron_tagger",
    "vader_lexicon",
    "punkt",
    "wordnet",
    "omw-1.4"
])

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package state_union to /root/nltk_data...
[nltk_data]   Package state_union is already up-to-date!
[nltk_data] Downloading package twitter_samples to /root/nltk_data...
[nltk_data]   Package twitter_samples is already up-to-date!
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
from nltk.stem import WordNetLemmatizer

wordnet_lem = WordNetLemmatizer()

In [ ]:
df_text=pd.DataFrame()
df_text['text_lemm']=df['item_description'].map(lambda x:wordnet_lem.lemmatize(str(x)))

In [ ]:
df_text['text_lemm']

0          Awesome neon yellow color. Mini Sienna Tote (s...
1          Double strap bikini top, no brand. Size small,...
2          Wen by Chaz Dean Comes with 3 Cleansing Condit...
3          Gossip girl inspired tshirt for Chi Omega. Xs....
4          All clothes with 6,6-9 months white bottoms 3-...
                                 ...
1107151                                   In great condition
1107152    3 bras that are in used condition but have a l...
1107153    This case is made up of two parts，the armour &...
1107154                                   No description yet
1107155    50% off Brand new Free shipping Fast shipping ...
Name: text_lemm, Length: 1107156, dtype: object

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [ ]:
df_text['polarity']=df_text['text_lemm'].map(lambda x: sia.polarity_scores(str(x)))

In [ ]:
df_polarity = pd.concat([df, df_text['polarity'].apply(pd.Series)], axis=1)

In [ ]:
df_polarity

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,neg,neu,pos,compound
0,NEON BCBGMAXAZRIA Crossbody Bag,Good,1282,BCBGMAXAZRIA,17316.0,1,Awesome neon yellow color. Mini Sienna Tote (s...,0.000,0.669,0.331,0.9168
1,Purple Bikini Top,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1253,NaN,11544.0,0,"Double strap bikini top, no brand. Size small,...",0.084,0.553,0.364,0.9285
2,Hair product,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",13,NaN,61568.0,0,Wen by Chaz Dean Comes with 3 Cleansing Condit...,0.000,0.841,0.159,0.9370
3,Chi Omega Sorority gold foil tshirt,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1260,American Apparel,11544.0,1,Gossip girl inspired tshirt for Chi Omega. Xs....,0.061,0.643,0.296,0.8213
4,Baby girl lot,Good,626,NaN,9620.0,0,"All clothes with 6,6-9 months white bottoms 3-...",0.000,0.930,0.070,0.2023
...,...,...,...,...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",79,Michael Kors,32708.0,0,In great condition,0.000,0.328,0.672,0.6249
1107152,3 bras 36A&36B,Good,1265,Victoria's Secret,15392.0,0,3 bras that are in used condition but have a l...,0.134,0.794,0.072,-0.4243
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",85,NaN,8658.0,1,This case is made up of two parts，the armour &...,0.000,0.920,0.080,0.7435
1107154,U of o tee,Good,1260,Nike,4810.0,1,No description yet,0.524,0.476,0.000,-0.2960
1107155,Fidget Spinner purple,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",690,NaN,2886.0,1,50% off Brand new Free shipping Fast shipping ...,0.120,0.457,0.423,0.7430

In [ ]:
df_polarity.to_csv("/content/drive/My Drive/Machine learning/df_polarity.csv")

In [ ]:
df_polarity=pd.read_csv("/content/drive/My Drive/Machine learning/df_polarity.csv")

In [ ]:
df_polarity['product_price']=df_polarity['price']
df_polarity=df_polarity.drop(columns=['price'])

In [ ]:
df_polarity

,Unnamed: 0,name,item_condition_id,category_name,brand_name,shipping,item_description,neg,neu,pos,compound,product_price
0,0,NEON BCBGMAXAZRIA Crossbody Bag,Good,1282,BCBGMAXAZRIA,1,Awesome neon yellow color. Mini Sienna Tote (s...,0.000,0.669,0.331,0.9168,17316.0
1,1,Purple Bikini Top,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1253,NaN,0,"Double strap bikini top, no brand. Size small,...",0.084,0.553,0.364,0.9285,11544.0
2,2,Hair product,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",13,NaN,0,Wen by Chaz Dean Comes with 3 Cleansing Condit...,0.000,0.841,0.159,0.9370,61568.0
3,3,Chi Omega Sorority gold foil tshirt,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1260,American Apparel,1,Gossip girl inspired tshirt for Chi Omega. Xs....,0.061,0.643,0.296,0.8213,11544.0
4,4,Baby girl lot,Good,626,NaN,0,"All clothes with 6,6-9 months white bottoms 3-...",0.000,0.930,0.070,0.2023,9620.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,1107151,Michael Kors iPhone 6plus case,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",79,Michael Kors,0,In great condition,0.000,0.328,0.672,0.6249,32708.0
1107152,1107152,3 bras 36A&36B,Good,1265,Victoria's Secret,0,3 bras that are in used condition but have a l...,0.134,0.794,0.072,-0.4243,15392.0
1107153,1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",85,NaN,1,This case is made up of two parts，the armour &...,0.000,0.920,0.080,0.7435,8658.0
1107154,1107154,U of o tee,Good,1260,Nike,1,No description yet,0.524,0.476,0.000,-0.2960,4810.0
1107155,1107155,Fidget Spinner purple,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",690,NaN,1,50% off Brand new Free shipping Fast shipping ...,0.120,0.457,0.423,0.7430,2886.0

Extraemos las palabras más frecuentes dentro de item_description

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words="english", norm='l2',max_features=20,min_df=5,analyzer='word')
df_polarity['item_description']=df_polarity['item_description'].map(lambda x:str(x))
final_features = vectorizer.fit_transform(df_polarity['item_description']).toarray()
final_features.shape

(1107156, 20)

In [ ]:
tokens=vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(lowercase=True,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize,max_features=20)
text_counts= cv.fit_transform(df_polarity['item_description'])

In [ ]:
df_tfidfvect = pd.DataFrame(data = final_features,columns = tokens)

In [ ]:
df_countvect= pd.DataFrame(data=text_counts.toarray(),columns=cv.get_feature_names_out())

In [ ]:
df_tfidfvect

,black,box,brand,bundle,color,condition,free,good,great,like,new,pink,price,rm,shipping,size,small,tags,used,worn
0,0.411795,0.000000,0.000000,0.0,0.442392,0.339793,0.000000,0.448158,0.000000,0.000000,0.000000,0.0,0.000000,0.413378,0.000000,0.000000,0.000000,0.000000,0.384095,0.000000
1,0.000000,0.000000,0.277939,0.0,0.000000,0.283577,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.235805,0.738360,0.377719,0.000000,0.314457
2,0.000000,0.849167,0.307155,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.243067,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.354244,0.000000
3,0.696113,0.000000,0.562979,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.445512,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.681363,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.731946,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,0.000000,0.000000,0.000000,0.0,0.000000,0.641891,0.000000,0.000000,0.766796,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1107152,0.000000,0.000000,0.524844,0.0,0.000000,0.267746,0.276761,0.000000,0.000000,0.348194,0.415335,0.0,0.324134,0.000000,0.293002,0.000000,0.000000,0.000000,0.302654,0.000000
1107153,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1107154,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1107155,0.000000,0.000000,0.329501,0.0,0.000000,0.000000,0.347505,0.000000,0.401603,0.000000,0.260750,0.0,0.000000,0.000000,0.735795,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
df_countvect

,1,2,3,5,black,brand,bundle,color,condition,free,great,new,pink,price,rm,s,shipping,size,used,worn
0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1
2,5,1,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0
3,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
1107152,0,0,1,0,0,2,0,0,1,1,0,2,0,1,0,0,1,0,1,0
1107153,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1107154,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1107155,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,2,0,0,0

In [ ]:
df_polarity=df_polarity.drop(columns=['item_description'])

In [ ]:
df_polarity=df_polarity.drop(columns=['Unnamed: 0'])

In [ ]:
df_final=pd.concat([df_polarity,pd.get_dummies(df_polarity['item_condition_id'])],axis=1).drop(columns=['item_condition_id'])

In [ ]:
df_final

,name,category_name,brand_name,shipping,neg,neu,pos,compound,product_price,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor
0,NEON BCBGMAXAZRIA Crossbody Bag,1282,BCBGMAXAZRIA,1,0.000,0.669,0.331,0.9168,17316.0,0,1,0,0,0
1,Purple Bikini Top,1253,NaN,0,0.084,0.553,0.364,0.9285,11544.0,0,0,1,0,0
2,Hair product,13,NaN,0,0.000,0.841,0.159,0.9370,61568.0,0,0,0,1,0
3,Chi Omega Sorority gold foil tshirt,1260,American Apparel,1,0.061,0.643,0.296,0.8213,11544.0,0,0,1,0,0
4,Baby girl lot,626,NaN,0,0.000,0.930,0.070,0.2023,9620.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,79,Michael Kors,0,0.000,0.328,0.672,0.6249,32708.0,0,0,1,0,0
1107152,3 bras 36A&36B,1265,Victoria's Secret,0,0.134,0.794,0.072,-0.4243,15392.0,0,1,0,0,0
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,85,NaN,1,0.000,0.920,0.080,0.7435,8658.0,0,0,0,1,0
1107154,U of o tee,1260,Nike,1,0.524,0.476,0.000,-0.2960,4810.0,0,1,0,0,0
1107155,Fidget Spinner purple,690,NaN,1,0.120,0.457,0.423,0.7430,2886.0,0,0,0,1,0

In [ ]:
df_final['brand_name']=df_final['brand_name'].replace(np.nan,"NaN")

Analizamos y hacemos un Ordinal Encoder a el árbol que representa las categorías

In [ ]:
import json
f = open('/content/data/categories.json')
data = json.load(f)

In [ ]:
df_categories=pd.DataFrame.from_dict(data,orient='index',columns=['categories'])

In [ ]:
df_categories_split=df_categories['categories'].str.split("/",expand=True)

In [ ]:
df_categories_split=df_categories_split.reset_index()

In [ ]:
df_categories_split

,index,0,1,2,3,4
0,808,Men,Tops,T-shirts,None,None
1,86,Electronics,Computers & Tablets,Components & Parts,None,None
2,1254,Women,Tops & Blouses,Blouse,None,None
3,485,Home,Home Décor,Home Décor Accents,None,None
4,1181,Women,Jewelry,Necklaces,None,None
...,...,...,...,...,...,...
1282,227,Handmade,Furniture,Fixture,None,None
1283,481,Home,Home Décor,Doormats,None,None
1284,280,Handmade,Jewelry,Clothing,None,None
1285,1106,Vintage & Collectibles,Supplies,Ephemera,None,None
1286,348,Handmade,Pets,Blanket,None,None

In [ ]:
df_categories_split.columns=['category_name','nodo1','nodo2','nodo3','nodo4','nodo5']

In [ ]:
df_categories_split=df_categories_split.set_index('category_name')

In [ ]:
dictionary=df_categories_split.to_dict()

In [ ]:
df_final=df_final.astype({"category_name": 'str'})

In [ ]:
df_final

,name,category_name,brand_name,shipping,neg,neu,pos,compound,product_price,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor
0,NEON BCBGMAXAZRIA Crossbody Bag,1282,BCBGMAXAZRIA,1,0.000,0.669,0.331,0.9168,17316.0,0,1,0,0,0
1,Purple Bikini Top,1253,NaN,0,0.084,0.553,0.364,0.9285,11544.0,0,0,1,0,0
2,Hair product,13,NaN,0,0.000,0.841,0.159,0.9370,61568.0,0,0,0,1,0
3,Chi Omega Sorority gold foil tshirt,1260,American Apparel,1,0.061,0.643,0.296,0.8213,11544.0,0,0,1,0,0
4,Baby girl lot,626,NaN,0,0.000,0.930,0.070,0.2023,9620.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,79,Michael Kors,0,0.000,0.328,0.672,0.6249,32708.0,0,0,1,0,0
1107152,3 bras 36A&36B,1265,Victoria's Secret,0,0.134,0.794,0.072,-0.4243,15392.0,0,1,0,0,0
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,85,NaN,1,0.000,0.920,0.080,0.7435,8658.0,0,0,0,1,0
1107154,U of o tee,1260,Nike,1,0.524,0.476,0.000,-0.2960,4810.0,0,1,0,0,0
1107155,Fidget Spinner purple,690,NaN,1,0.120,0.457,0.423,0.7430,2886.0,0,0,0,1,0

In [ ]:
df_final['nodo1']=df_final['category_name'].map(dictionary['nodo1'])
df_final['nodo2']=df_final['category_name'].map(dictionary['nodo2'])
df_final['nodo3']=df_final['category_name'].map(dictionary['nodo3'])
df_final['nodo4']=df_final['category_name'].map(dictionary['nodo4'])
df_final['nodo5']=df_final['category_name'].map(dictionary['nodo5'])

In [ ]:
df_final

,name,category_name,brand_name,shipping,neg,neu,pos,compound,product_price,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,nodo1,nodo2,nodo3,nodo4,nodo5
0,NEON BCBGMAXAZRIA Crossbody Bag,1282,BCBGMAXAZRIA,1,0.000,0.669,0.331,0.9168,17316.0,0,1,0,0,0,Women,Women's Handbags,Messenger & Crossbody,None,None
1,Purple Bikini Top,1253,NaN,0,0.084,0.553,0.364,0.9285,11544.0,0,0,1,0,0,Women,Swimwear,Two-Piece,None,None
2,Hair product,13,NaN,0,0.000,0.841,0.159,0.9370,61568.0,0,0,0,1,0,Beauty,Hair Care,Hair & Scalp Treatments,None,None
3,Chi Omega Sorority gold foil tshirt,1260,American Apparel,1,0.061,0.643,0.296,0.8213,11544.0,0,0,1,0,0,Women,Tops & Blouses,T-Shirts,None,None
4,Baby girl lot,626,NaN,0,0.000,0.930,0.070,0.2023,9620.0,0,1,0,0,0,Kids,Girls 0-24 Mos,Other,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,79,Michael Kors,0,0.000,0.328,0.672,0.6249,32708.0,0,0,1,0,0,Electronics,Cell Phones & Accessories,"Cases, Covers & Skins",None,None
1107152,3 bras 36A&36B,1265,Victoria's Secret,0,0.134,0.794,0.072,-0.4243,15392.0,0,1,0,0,0,Women,Underwear,Bras,None,None
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,85,NaN,1,0.000,0.920,0.080,0.7435,8658.0,0,0,0,1,0,Electronics,Cell Phones & Accessories,Screen Protectors,None,None
1107154,U of o tee,1260,Nike,1,0.524,0.476,0.000,-0.2960,4810.0,0,1,0,0,0,Women,Tops & Blouses,T-Shirts,None,None
1107155,Fidget Spinner purple,690,NaN,1,0.120,0.457,0.423,0.7430,2886.0,0,0,0,1,0,Kids,Toys,Games,None,None

In [ ]:
df_merge=df_final

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
enc1=OrdinalEncoder()
df_merge['nodo1']=enc1.fit_transform(df_merge['nodo1'].values.reshape(-1,1))

In [ ]:
enc2=OrdinalEncoder()
df_merge['nodo2']=enc2.fit_transform(df_merge['nodo2'].values.reshape(-1,1))

In [ ]:
enc3=OrdinalEncoder()
df_merge['nodo3']=enc3.fit_transform(df_merge['nodo3'].values.reshape(-1,1))

In [ ]:
enc4=OrdinalEncoder()
df_merge['nodo4']=enc4.fit_transform(df_merge['nodo4'].values.reshape(-1,1))

In [ ]:
enc5=OrdinalEncoder()
df_merge['nodo5']=enc5.fit_transform(df_merge['nodo5'].values.reshape(-1,1))

In [ ]:
df_merge

,name,category_name,brand_name,shipping,neg,neu,pos,compound,product_price,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,nodo1,nodo2,nodo3,nodo4,nodo5
0,NEON BCBGMAXAZRIA Crossbody Bag,1282,BCBGMAXAZRIA,1,0.000,0.669,0.331,0.9168,17316.0,0,1,0,0,0,9.0,111.0,505.0,5.0,2.0
1,Purple Bikini Top,1253,NaN,0,0.084,0.553,0.364,0.9285,11544.0,0,0,1,0,0,9.0,98.0,816.0,5.0,2.0
2,Hair product,13,NaN,0,0.000,0.841,0.159,0.9370,61568.0,0,0,0,1,0,0.0,50.0,362.0,5.0,2.0
3,Chi Omega Sorority gold foil tshirt,1260,American Apparel,1,0.061,0.643,0.296,0.8213,11544.0,0,0,1,0,0,9.0,103.0,754.0,5.0,2.0
4,Baby girl lot,626,NaN,0,0.000,0.930,0.070,0.2023,9620.0,0,1,0,0,0,4.0,46.0,553.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107151,Michael Kors iPhone 6plus case,79,Michael Kors,0,0.000,0.328,0.672,0.6249,32708.0,0,0,1,0,0,1.0,23.0,170.0,5.0,2.0
1107152,3 bras 36A&36B,1265,Victoria's Secret,0,0.134,0.794,0.072,-0.4243,15392.0,0,1,0,0,0,9.0,107.0,119.0,5.0,2.0
1107153,Iphone 6/7/6+/7+ 360 Case - RoseGold,85,NaN,1,0.000,0.920,0.080,0.7435,8658.0,0,0,0,1,0,1.0,23.0,666.0,5.0,2.0
1107154,U of o tee,1260,Nike,1,0.524,0.476,0.000,-0.2960,4810.0,0,1,0,0,0,9.0,103.0,754.0,5.0,2.0
1107155,Fidget Spinner purple,690,NaN,1,0.120,0.457,0.423,0.7430,2886.0,0,0,0,1,0,4.0,105.0,341.0,5.0,2.0

Hacemos un Ordinal Encoder al nombre y a la marca por temas de RAM

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
enc6 = OrdinalEncoder()
df_merge['name_encoded']=enc6.fit_transform(df_merge['name'].values.reshape(-1,1))

In [ ]:
enc7 = OrdinalEncoder()
df_merge['brand_encoded']=enc7.fit_transform(df_merge['brand_name'].values.reshape(-1,1))

In [ ]:
df_merge=df_merge.drop(columns=['name'])

In [ ]:
df_final=df_merge.drop(columns=['brand_name'])

In [ ]:
df_final=df_final.reset_index().drop(columns=['index'])

In [ ]:
df_final=pd.concat([df_final,df_tfidfvect,df_countvect],axis=1)

In [ ]:
df_final.columns

Index(['category_name', 'shipping', 'neg', 'neu', 'pos', 'compound',
       'product_price', 'Fair', 'Good',
       'Like New (codes: BNWOT, MWOB, NWOT, BNWOB)',
       'New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)', 'Poor', 'nodo1', 'nodo2',
       'nodo3', 'nodo4', 'nodo5', 'name_encoded', 'brand_encoded', 'black',
       'box', 'brand', 'bundle', 'color', 'condition', 'free', 'good', 'great',
       'like', 'new', 'pink', 'price', 'rm', 'shipping', 'size', 'small',
       'tags', 'used', 'worn', '1', '2', '3', '5', 'black', 'brand', 'bundle',
       'color', 'condition', 'free', 'great', 'new', 'pink', 'price', 'rm',
       's', 'shipping', 'size', 'used', 'worn'],
      dtype='object')

In [ ]:
X=df_final.drop(columns=['category_name','name_encoded','brand_encoded','product_price']).values
y=df_final['product_price'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
X_train.shape

(885724, 55)

In [ ]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
np.random.seed(1)
model=Ridge()
x=np.linspace(0,1,25)
param_grid={'alpha':x,'random_state':[1]}
ridge_cv=GridSearchCV(model,param_grid,verbose=2,scoring='neg_root_mean_squared_error',cv=2)
ridge_cv.fit(X_train,y_train)

Fitting 2 folds for each of 25 candidates, totalling 50 fits
[CV] END ..........................alpha=0.0, random_state=1; total time=   0.5s
[CV] END ..........................alpha=0.0, random_state=1; total time=   4.0s
[CV] END .........alpha=0.041666666666666664, random_state=1; total time=   0.4s
[CV] END .........alpha=0.041666666666666664, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.08333333333333333, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.08333333333333333, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.125, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.125, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.16666666666666666, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.16666666666666666, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.20833333333333331, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.20833333333333331, random_state=1; total time=   0.5s
[CV] END .........................alpha=0.25, random_state=1; total time=   0.5s
[CV] END .........................alpha=0.25, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.29166666666666663, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.29166666666666663, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.3333333333333333, random_state=1; total time=   0.4s
[CV] END ...........alpha=0.3333333333333333, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.375, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.375, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.41666666666666663, random_state=1; total time=   0.5s
[CV] END ..........alpha=0.41666666666666663, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.4583333333333333, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.4583333333333333, random_state=1; total time=   0.5s
[CV] END ..........................alpha=0.5, random_state=1; total time=   0.5s
[CV] END ..........................alpha=0.5, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.5416666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.5416666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.5833333333333333, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.5833333333333333, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.625, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.625, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.6666666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.6666666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.7083333333333333, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.7083333333333333, random_state=1; total time=   0.5s
[CV] END .........................alpha=0.75, random_state=1; total time=   0.5s
[CV] END .........................alpha=0.75, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.7916666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.7916666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.8333333333333333, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.8333333333333333, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.875, random_state=1; total time=   0.5s
[CV] END ........................alpha=0.875, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.9166666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.9166666666666666, random_state=1; total time=   0.5s
[CV] END ...........alpha=0.9583333333333333, random_state=1; total time=   0.4s
[CV] END ...........alpha=0.9583333333333333, random_state=1; total time=   0.5s
[CV] END ..........................alpha=1.0, random_state=1; total time=   0.5s
[CV] END ..........................alpha=1.0, random_state=1; total time=   0.5s

GridSearchCV(cv=2, estimator=Ridge(),
             param_grid={'alpha': array([0.        , 0.04166667, 0.08333333, 0.125     , 0.16666667,
       0.20833333, 0.25      , 0.29166667, 0.33333333, 0.375     ,
       0.41666667, 0.45833333, 0.5       , 0.54166667, 0.58333333,
       0.625     , 0.66666667, 0.70833333, 0.75      , 0.79166667,
       0.83333333, 0.875     , 0.91666667, 0.95833333, 1.        ]),
                         'random_state': [1]},
             scoring='neg_root_mean_squared_error', verbose=2)

In [ ]:
ridge_cv.best_params_

{'alpha': 1.0, 'random_state': 1}

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,ridge_cv.best_estimator_.predict(X_test)))

37530.12185153837

In [ ]:
np.sqrt(mean_squared_error(y_train,ridge_cv.best_estimator_.predict(X_train)))

36241.57245931949

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'max_features':['auto', 'sqrt', 'log2'],'splitter':['best'],'max_depth':[i for i in range(1,10)]}
model2=DecisionTreeRegressor()
tree_cv=GridSearchCV(model2,param_grid,verbose=2,scoring='neg_root_mean_squared_error',cv=5)
tree_cv.fit(X_train,y_train)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   2.3s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.4s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.4s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.4s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.4s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.3s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.3s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.4s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.3s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   2.5s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   2.5s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   2.5s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   2.5s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   2.4s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.6s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.6s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.4s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.4s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   3.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   3.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   3.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   3.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   3.6s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.7s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.7s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.7s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   4.7s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   4.7s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   4.7s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   0.9s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   0.9s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   5.7s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   5.7s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   5.7s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   5.6s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   5.6s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   0.9s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   6.4s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   6.4s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   7.4s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   6.5s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   6.5s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   0.9s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   0.9s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   7.5s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   7.4s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   7.5s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   7.5s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   7.4s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.3s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=   8.6s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=   8.3s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.5s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=   9.3s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=   9.2s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=   9.2s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=   9.2s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  10.2s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   1.6s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   1.6s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   1.5s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   1.5s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   1.6s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.2s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.2s

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best']},
             scoring='neg_root_mean_squared_error', verbose=2)

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,tree_cv.best_estimator_.predict(X_test)))

35688.3584231872

No tenemos overfitting por lo que pasamos a entrenar con todos los datos

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'max_features':['auto', 'sqrt', 'log2'],'splitter':['best'],'max_depth':[i for i in range(1,10)]}
model2=DecisionTreeRegressor()
tree_cv=GridSearchCV(model2,param_grid,verbose=2,scoring='neg_root_mean_squared_error',cv=5)
tree_cv.fit(X,y)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.9s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.8s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.8s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.8s
[CV] END ......max_depth=1, max_features=auto, splitter=best; total time=   1.8s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.6s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.6s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=sqrt, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=1, max_features=log2, splitter=best; total time=   0.5s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   3.2s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   3.2s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   3.2s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   3.2s
[CV] END ......max_depth=2, max_features=auto, splitter=best; total time=   3.2s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.7s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.7s
[CV] END ......max_depth=2, max_features=sqrt, splitter=best; total time=   0.8s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.6s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=2, max_features=log2, splitter=best; total time=   0.7s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   4.7s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=3, max_features=auto, splitter=best; total time=   4.6s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.9s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   0.9s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=3, max_features=sqrt, splitter=best; total time=   1.0s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=3, max_features=log2, splitter=best; total time=   0.8s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   6.0s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   6.4s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   6.5s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   5.9s
[CV] END ......max_depth=4, max_features=auto, splitter=best; total time=   6.0s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   1.1s
[CV] END ......max_depth=4, max_features=sqrt, splitter=best; total time=   1.2s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   1.0s
[CV] END ......max_depth=4, max_features=log2, splitter=best; total time=   0.9s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   9.1s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   7.2s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   7.2s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   7.2s
[CV] END ......max_depth=5, max_features=auto, splitter=best; total time=   8.0s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   2.3s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   2.6s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.3s
[CV] END ......max_depth=5, max_features=sqrt, splitter=best; total time=   1.3s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   1.2s
[CV] END ......max_depth=5, max_features=log2, splitter=best; total time=   1.1s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   8.5s
[CV] END ......max_depth=6, max_features=auto, splitter=best; total time=   8.4s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.6s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.6s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.5s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.4s
[CV] END ......max_depth=6, max_features=sqrt, splitter=best; total time=   1.5s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.2s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.2s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.2s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=6, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   9.5s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   9.7s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   9.6s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=   9.9s
[CV] END ......max_depth=7, max_features=auto, splitter=best; total time=  10.1s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.7s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.8s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.8s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.8s
[CV] END ......max_depth=7, max_features=sqrt, splitter=best; total time=   1.8s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.4s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.4s
[CV] END ......max_depth=7, max_features=log2, splitter=best; total time=   1.3s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=  10.7s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=  10.6s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=  10.7s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=  10.7s
[CV] END ......max_depth=8, max_features=auto, splitter=best; total time=  10.7s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.9s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.8s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.9s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.9s
[CV] END ......max_depth=8, max_features=sqrt, splitter=best; total time=   1.9s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.6s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.6s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   2.6s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.8s
[CV] END ......max_depth=8, max_features=log2, splitter=best; total time=   1.9s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  20.1s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  14.8s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  12.2s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  12.4s
[CV] END ......max_depth=9, max_features=auto, splitter=best; total time=  14.3s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   2.1s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   2.0s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   2.8s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   2.4s
[CV] END ......max_depth=9, max_features=sqrt, splitter=best; total time=   2.1s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   2.5s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   2.7s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.6s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.5s
[CV] END ......max_depth=9, max_features=log2, splitter=best; total time=   1.5s

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best']},
             scoring='neg_root_mean_squared_error', verbose=2)

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
np.random.seed(1)
model=Ridge()
x=np.linspace(0,1,25)
param_grid={'alpha':x,'solver':['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'lbfgs'],'random_state':[1]}
ridge_cv=GridSearchCV(model,param_grid,verbose=2,scoring='neg_root_mean_squared_error',cv=2)
ridge_cv.fit(X,y)

Fitting 2 folds for each of 150 candidates, totalling 300 fits

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.68638e-27): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=0.0, random_state=1, solver=auto; total time=   5.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.19358e-27): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=0.0, random_state=1, solver=auto; total time=   3.8s
[CV] END ..............alpha=0.0, random_state=1, solver=svd; total time=   6.5s
[CV] END ..............alpha=0.0, random_state=1, solver=svd; total time=   6.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.68638e-27): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=0.0, random_state=1, solver=cholesky; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.19358e-27): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=0.0, random_state=1, solver=cholesky; total time=   4.3s
[CV] END .............alpha=0.0, random_state=1, solver=lsqr; total time=   4.2s
[CV] END .............alpha=0.0, random_state=1, solver=lsqr; total time=   3.9s
[CV] END ........alpha=0.0, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END ........alpha=0.0, random_state=1, solver=sparse_cg; total time=   4.3s
[CV] END ............alpha=0.0, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END ............alpha=0.0, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04697e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.041666666666666664, random_state=1, solver=auto; total time=   5.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04431e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.041666666666666664, random_state=1, solver=auto; total time=   4.1s
[CV] END alpha=0.041666666666666664, random_state=1, solver=svd; total time=   6.4s
[CV] END alpha=0.041666666666666664, random_state=1, solver=svd; total time=   5.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04697e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.041666666666666664, random_state=1, solver=cholesky; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04431e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.041666666666666664, random_state=1, solver=cholesky; total time=   3.9s
[CV] END alpha=0.041666666666666664, random_state=1, solver=lsqr; total time=   5.5s
[CV] END alpha=0.041666666666666664, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.041666666666666664, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.041666666666666664, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.041666666666666664, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END alpha=0.041666666666666664, random_state=1, solver=lbfgs; total time=   2.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.09393e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.08333333333333333, random_state=1, solver=auto; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.08862e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.08333333333333333, random_state=1, solver=auto; total time=   4.0s
[CV] END alpha=0.08333333333333333, random_state=1, solver=svd; total time=   6.4s
[CV] END alpha=0.08333333333333333, random_state=1, solver=svd; total time=   6.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.09393e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.08333333333333333, random_state=1, solver=cholesky; total time=   3.8s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.08862e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.08333333333333333, random_state=1, solver=cholesky; total time=   4.1s
[CV] END alpha=0.08333333333333333, random_state=1, solver=lsqr; total time=   4.3s
[CV] END alpha=0.08333333333333333, random_state=1, solver=lsqr; total time=   4.0s
[CV] END alpha=0.08333333333333333, random_state=1, solver=sparse_cg; total time=   4.4s
[CV] END alpha=0.08333333333333333, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END alpha=0.08333333333333333, random_state=1, solver=lbfgs; total time=   3.6s
[CV] END alpha=0.08333333333333333, random_state=1, solver=lbfgs; total time=   2.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=3.14089e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.125, random_state=1, solver=auto; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=3.13292e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.125, random_state=1, solver=auto; total time=   4.2s
[CV] END ............alpha=0.125, random_state=1, solver=svd; total time=   6.3s
[CV] END ............alpha=0.125, random_state=1, solver=svd; total time=   6.7s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=3.14089e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.125, random_state=1, solver=cholesky; total time=   4.7s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=3.13292e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.125, random_state=1, solver=cholesky; total time=   6.3s
[CV] END ...........alpha=0.125, random_state=1, solver=lsqr; total time=   5.7s
[CV] END ...........alpha=0.125, random_state=1, solver=lsqr; total time=   4.2s
[CV] END ......alpha=0.125, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END ......alpha=0.125, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END ..........alpha=0.125, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END ..........alpha=0.125, random_state=1, solver=lbfgs; total time=   2.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=4.18784e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.16666666666666666, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=4.17722e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.16666666666666666, random_state=1, solver=auto; total time=   4.0s
[CV] END alpha=0.16666666666666666, random_state=1, solver=svd; total time=   8.0s
[CV] END alpha=0.16666666666666666, random_state=1, solver=svd; total time=   5.8s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=4.18784e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.16666666666666666, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=4.17722e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.16666666666666666, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.16666666666666666, random_state=1, solver=lsqr; total time=   3.9s
[CV] END alpha=0.16666666666666666, random_state=1, solver=lsqr; total time=   3.9s
[CV] END alpha=0.16666666666666666, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END alpha=0.16666666666666666, random_state=1, solver=sparse_cg; total time=   8.1s
[CV] END alpha=0.16666666666666666, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.16666666666666666, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=5.23479e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.20833333333333331, random_state=1, solver=auto; total time=   4.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=5.22152e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.20833333333333331, random_state=1, solver=auto; total time=   4.3s
[CV] END alpha=0.20833333333333331, random_state=1, solver=svd; total time=   6.8s
[CV] END alpha=0.20833333333333331, random_state=1, solver=svd; total time=   6.8s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=5.23479e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.20833333333333331, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=5.22152e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.20833333333333331, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.20833333333333331, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.20833333333333331, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.20833333333333331, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END alpha=0.20833333333333331, random_state=1, solver=sparse_cg; total time=   4.4s
[CV] END alpha=0.20833333333333331, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.20833333333333331, random_state=1, solver=lbfgs; total time=   2.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.28174e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ............alpha=0.25, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.26581e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ............alpha=0.25, random_state=1, solver=auto; total time=   4.1s
[CV] END .............alpha=0.25, random_state=1, solver=svd; total time=   6.2s
[CV] END .............alpha=0.25, random_state=1, solver=svd; total time=   6.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.28174e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ........alpha=0.25, random_state=1, solver=cholesky; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.26581e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ........alpha=0.25, random_state=1, solver=cholesky; total time=   4.2s
[CV] END ............alpha=0.25, random_state=1, solver=lsqr; total time=   4.3s
[CV] END ............alpha=0.25, random_state=1, solver=lsqr; total time=   4.3s
[CV] END .......alpha=0.25, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END .......alpha=0.25, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END ...........alpha=0.25, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END ...........alpha=0.25, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.32868e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.29166666666666663, random_state=1, solver=auto; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.3101e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.29166666666666663, random_state=1, solver=auto; total time=   5.8s
[CV] END alpha=0.29166666666666663, random_state=1, solver=svd; total time=   7.0s
[CV] END alpha=0.29166666666666663, random_state=1, solver=svd; total time=   7.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.32868e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.29166666666666663, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.3101e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.29166666666666663, random_state=1, solver=cholesky; total time=   5.7s
[CV] END alpha=0.29166666666666663, random_state=1, solver=lsqr; total time=   4.2s
[CV] END alpha=0.29166666666666663, random_state=1, solver=lsqr; total time=   4.2s
[CV] END alpha=0.29166666666666663, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END alpha=0.29166666666666663, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.29166666666666663, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END alpha=0.29166666666666663, random_state=1, solver=lbfgs; total time=   2.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=8.37561e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.3333333333333333, random_state=1, solver=auto; total time=   7.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=8.35438e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.3333333333333333, random_state=1, solver=auto; total time=   4.1s
[CV] END alpha=0.3333333333333333, random_state=1, solver=svd; total time=   6.0s
[CV] END alpha=0.3333333333333333, random_state=1, solver=svd; total time=   5.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=8.37561e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.3333333333333333, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=8.35438e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.3333333333333333, random_state=1, solver=cholesky; total time=   4.3s
[CV] END alpha=0.3333333333333333, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.3333333333333333, random_state=1, solver=lsqr; total time=   4.3s
[CV] END alpha=0.3333333333333333, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END alpha=0.3333333333333333, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END alpha=0.3333333333333333, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.3333333333333333, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=9.42255e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.375, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=9.39866e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.375, random_state=1, solver=auto; total time=   4.1s
[CV] END ............alpha=0.375, random_state=1, solver=svd; total time=   6.7s
[CV] END ............alpha=0.375, random_state=1, solver=svd; total time=   6.7s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=9.42255e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.375, random_state=1, solver=cholesky; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=9.39866e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.375, random_state=1, solver=cholesky; total time=   4.1s
[CV] END ...........alpha=0.375, random_state=1, solver=lsqr; total time=   4.0s
[CV] END ...........alpha=0.375, random_state=1, solver=lsqr; total time=   4.7s
[CV] END ......alpha=0.375, random_state=1, solver=sparse_cg; total time=   5.1s
[CV] END ......alpha=0.375, random_state=1, solver=sparse_cg; total time=   4.3s
[CV] END ..........alpha=0.375, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END ..........alpha=0.375, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04695e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.41666666666666663, random_state=1, solver=auto; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04429e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.41666666666666663, random_state=1, solver=auto; total time=   5.4s
[CV] END alpha=0.41666666666666663, random_state=1, solver=svd; total time=   6.4s
[CV] END alpha=0.41666666666666663, random_state=1, solver=svd; total time=   6.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04695e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.41666666666666663, random_state=1, solver=cholesky; total time=   4.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.04429e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.41666666666666663, random_state=1, solver=cholesky; total time=   4.3s
[CV] END alpha=0.41666666666666663, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.41666666666666663, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.41666666666666663, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.41666666666666663, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END alpha=0.41666666666666663, random_state=1, solver=lbfgs; total time=   2.4s
[CV] END alpha=0.41666666666666663, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.15164e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.4583333333333333, random_state=1, solver=auto; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.14872e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.4583333333333333, random_state=1, solver=auto; total time=   4.2s
[CV] END alpha=0.4583333333333333, random_state=1, solver=svd; total time=   7.2s
[CV] END alpha=0.4583333333333333, random_state=1, solver=svd; total time=   6.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.15164e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.4583333333333333, random_state=1, solver=cholesky; total time=   3.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.14872e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.4583333333333333, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.4583333333333333, random_state=1, solver=lsqr; total time=   4.2s
[CV] END alpha=0.4583333333333333, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.4583333333333333, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END alpha=0.4583333333333333, random_state=1, solver=sparse_cg; total time=   7.7s
[CV] END alpha=0.4583333333333333, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.4583333333333333, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.25633e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=0.5, random_state=1, solver=auto; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.25315e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=0.5, random_state=1, solver=auto; total time=   4.2s
[CV] END ..............alpha=0.5, random_state=1, solver=svd; total time=   6.2s
[CV] END ..............alpha=0.5, random_state=1, solver=svd; total time=   7.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.25633e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=0.5, random_state=1, solver=cholesky; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.25315e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=0.5, random_state=1, solver=cholesky; total time=   4.2s
[CV] END .............alpha=0.5, random_state=1, solver=lsqr; total time=   4.2s
[CV] END .............alpha=0.5, random_state=1, solver=lsqr; total time=   5.3s
[CV] END ........alpha=0.5, random_state=1, solver=sparse_cg; total time=   5.2s
[CV] END ........alpha=0.5, random_state=1, solver=sparse_cg; total time=   7.8s
[CV] END ............alpha=0.5, random_state=1, solver=lbfgs; total time=   2.9s
[CV] END ............alpha=0.5, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.36102e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5416666666666666, random_state=1, solver=auto; total time=   4.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.35757e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5416666666666666, random_state=1, solver=auto; total time=   4.7s
[CV] END alpha=0.5416666666666666, random_state=1, solver=svd; total time=   6.9s
[CV] END alpha=0.5416666666666666, random_state=1, solver=svd; total time=   7.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.36102e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5416666666666666, random_state=1, solver=cholesky; total time=   6.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.35757e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5416666666666666, random_state=1, solver=cholesky; total time=   5.3s
[CV] END alpha=0.5416666666666666, random_state=1, solver=lsqr; total time=   4.6s
[CV] END alpha=0.5416666666666666, random_state=1, solver=lsqr; total time=   6.0s
[CV] END alpha=0.5416666666666666, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END alpha=0.5416666666666666, random_state=1, solver=sparse_cg; total time=   5.7s
[CV] END alpha=0.5416666666666666, random_state=1, solver=lbfgs; total time=   3.1s
[CV] END alpha=0.5416666666666666, random_state=1, solver=lbfgs; total time=   3.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.46572e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5833333333333333, random_state=1, solver=auto; total time=   6.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.462e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5833333333333333, random_state=1, solver=auto; total time=   4.1s
[CV] END alpha=0.5833333333333333, random_state=1, solver=svd; total time=   7.6s
[CV] END alpha=0.5833333333333333, random_state=1, solver=svd; total time=   6.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.46572e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5833333333333333, random_state=1, solver=cholesky; total time=   4.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.462e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.5833333333333333, random_state=1, solver=cholesky; total time=   4.1s
[CV] END alpha=0.5833333333333333, random_state=1, solver=lsqr; total time=   4.2s
[CV] END alpha=0.5833333333333333, random_state=1, solver=lsqr; total time=   4.6s
[CV] END alpha=0.5833333333333333, random_state=1, solver=sparse_cg; total time=  11.4s
[CV] END alpha=0.5833333333333333, random_state=1, solver=sparse_cg; total time=   5.2s
[CV] END alpha=0.5833333333333333, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.5833333333333333, random_state=1, solver=lbfgs; total time=   2.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.57041e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.625, random_state=1, solver=auto; total time=   4.5s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.56643e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.625, random_state=1, solver=auto; total time=   4.2s
[CV] END ............alpha=0.625, random_state=1, solver=svd; total time=   8.4s
[CV] END ............alpha=0.625, random_state=1, solver=svd; total time=   6.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.57041e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.625, random_state=1, solver=cholesky; total time=   4.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.56643e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.625, random_state=1, solver=cholesky; total time=   4.2s
[CV] END ...........alpha=0.625, random_state=1, solver=lsqr; total time=   4.2s
[CV] END ...........alpha=0.625, random_state=1, solver=lsqr; total time=   4.0s
[CV] END ......alpha=0.625, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END ......alpha=0.625, random_state=1, solver=sparse_cg; total time=   7.1s
[CV] END ..........alpha=0.625, random_state=1, solver=lbfgs; total time=   4.0s
[CV] END ..........alpha=0.625, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.6751e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.6666666666666666, random_state=1, solver=auto; total time=   4.5s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.67085e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.6666666666666666, random_state=1, solver=auto; total time=   4.2s
[CV] END alpha=0.6666666666666666, random_state=1, solver=svd; total time=   6.5s
[CV] END alpha=0.6666666666666666, random_state=1, solver=svd; total time=   7.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.6751e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.6666666666666666, random_state=1, solver=cholesky; total time=   5.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.67085e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.6666666666666666, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.6666666666666666, random_state=1, solver=lsqr; total time=   4.3s
[CV] END alpha=0.6666666666666666, random_state=1, solver=lsqr; total time=   4.2s
[CV] END alpha=0.6666666666666666, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.6666666666666666, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.6666666666666666, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END alpha=0.6666666666666666, random_state=1, solver=lbfgs; total time=   2.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.77979e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7083333333333333, random_state=1, solver=auto; total time=   4.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.77528e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7083333333333333, random_state=1, solver=auto; total time=   4.2s
[CV] END alpha=0.7083333333333333, random_state=1, solver=svd; total time=   7.0s
[CV] END alpha=0.7083333333333333, random_state=1, solver=svd; total time=   6.8s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.77979e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7083333333333333, random_state=1, solver=cholesky; total time=   3.9s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.77528e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7083333333333333, random_state=1, solver=cholesky; total time=   4.1s
[CV] END alpha=0.7083333333333333, random_state=1, solver=lsqr; total time=   5.0s
[CV] END alpha=0.7083333333333333, random_state=1, solver=lsqr; total time=   5.8s
[CV] END alpha=0.7083333333333333, random_state=1, solver=sparse_cg; total time=   5.0s
[CV] END alpha=0.7083333333333333, random_state=1, solver=sparse_cg; total time=   4.8s
[CV] END alpha=0.7083333333333333, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END alpha=0.7083333333333333, random_state=1, solver=lbfgs; total time=   2.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.88448e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ............alpha=0.75, random_state=1, solver=auto; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.8797e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ............alpha=0.75, random_state=1, solver=auto; total time=   3.8s
[CV] END .............alpha=0.75, random_state=1, solver=svd; total time=   6.2s
[CV] END .............alpha=0.75, random_state=1, solver=svd; total time=   7.7s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.88448e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ........alpha=0.75, random_state=1, solver=cholesky; total time=   4.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.8797e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ........alpha=0.75, random_state=1, solver=cholesky; total time=   4.2s
[CV] END ............alpha=0.75, random_state=1, solver=lsqr; total time=   4.2s
[CV] END ............alpha=0.75, random_state=1, solver=lsqr; total time=   4.2s
[CV] END .......alpha=0.75, random_state=1, solver=sparse_cg; total time=   4.2s
[CV] END .......alpha=0.75, random_state=1, solver=sparse_cg; total time=   4.3s
[CV] END ...........alpha=0.75, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END ...........alpha=0.75, random_state=1, solver=lbfgs; total time=   2.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.98917e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7916666666666666, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.98412e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7916666666666666, random_state=1, solver=auto; total time=   4.0s
[CV] END alpha=0.7916666666666666, random_state=1, solver=svd; total time=   6.5s
[CV] END alpha=0.7916666666666666, random_state=1, solver=svd; total time=   6.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.98917e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7916666666666666, random_state=1, solver=cholesky; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.98412e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.7916666666666666, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.7916666666666666, random_state=1, solver=lsqr; total time=   4.0s
[CV] END alpha=0.7916666666666666, random_state=1, solver=lsqr; total time=   4.8s
[CV] END alpha=0.7916666666666666, random_state=1, solver=sparse_cg; total time=   6.6s
[CV] END alpha=0.7916666666666666, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END alpha=0.7916666666666666, random_state=1, solver=lbfgs; total time=   2.2s
[CV] END alpha=0.7916666666666666, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.09385e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.8333333333333333, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.08855e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.8333333333333333, random_state=1, solver=auto; total time=   4.2s
[CV] END alpha=0.8333333333333333, random_state=1, solver=svd; total time=   6.6s
[CV] END alpha=0.8333333333333333, random_state=1, solver=svd; total time=   6.8s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.09385e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.8333333333333333, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.08855e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.8333333333333333, random_state=1, solver=cholesky; total time=   4.2s
[CV] END alpha=0.8333333333333333, random_state=1, solver=lsqr; total time=   4.1s
[CV] END alpha=0.8333333333333333, random_state=1, solver=lsqr; total time=   3.9s
[CV] END alpha=0.8333333333333333, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END alpha=0.8333333333333333, random_state=1, solver=sparse_cg; total time=   4.7s
[CV] END alpha=0.8333333333333333, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.8333333333333333, random_state=1, solver=lbfgs; total time=   3.5s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.19854e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.875, random_state=1, solver=auto; total time=   4.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.19297e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END ...........alpha=0.875, random_state=1, solver=auto; total time=   4.2s
[CV] END ............alpha=0.875, random_state=1, solver=svd; total time=   6.6s
[CV] END ............alpha=0.875, random_state=1, solver=svd; total time=   6.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.19854e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.875, random_state=1, solver=cholesky; total time=   4.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.19297e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .......alpha=0.875, random_state=1, solver=cholesky; total time=   4.3s
[CV] END ...........alpha=0.875, random_state=1, solver=lsqr; total time=   4.1s
[CV] END ...........alpha=0.875, random_state=1, solver=lsqr; total time=   4.2s
[CV] END ......alpha=0.875, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END ......alpha=0.875, random_state=1, solver=sparse_cg; total time=   4.5s
[CV] END ..........alpha=0.875, random_state=1, solver=lbfgs; total time=   2.4s
[CV] END ..........alpha=0.875, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.30323e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9166666666666666, random_state=1, solver=auto; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.29739e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9166666666666666, random_state=1, solver=auto; total time=   4.3s
[CV] END alpha=0.9166666666666666, random_state=1, solver=svd; total time=   7.8s
[CV] END alpha=0.9166666666666666, random_state=1, solver=svd; total time=   7.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.30323e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9166666666666666, random_state=1, solver=cholesky; total time=   5.7s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.29739e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9166666666666666, random_state=1, solver=cholesky; total time=   4.4s
[CV] END alpha=0.9166666666666666, random_state=1, solver=lsqr; total time=   4.3s
[CV] END alpha=0.9166666666666666, random_state=1, solver=lsqr; total time=   4.0s
[CV] END alpha=0.9166666666666666, random_state=1, solver=sparse_cg; total time=   4.9s
[CV] END alpha=0.9166666666666666, random_state=1, solver=sparse_cg; total time=   4.9s
[CV] END alpha=0.9166666666666666, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.9166666666666666, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.40792e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9583333333333333, random_state=1, solver=auto; total time=   4.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.40182e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9583333333333333, random_state=1, solver=auto; total time=   4.4s
[CV] END alpha=0.9583333333333333, random_state=1, solver=svd; total time=   6.9s
[CV] END alpha=0.9583333333333333, random_state=1, solver=svd; total time=   7.0s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.40792e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9583333333333333, random_state=1, solver=cholesky; total time=   4.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.40182e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END alpha=0.9583333333333333, random_state=1, solver=cholesky; total time=   4.4s
[CV] END alpha=0.9583333333333333, random_state=1, solver=lsqr; total time=   4.3s
[CV] END alpha=0.9583333333333333, random_state=1, solver=lsqr; total time=   4.9s
[CV] END alpha=0.9583333333333333, random_state=1, solver=sparse_cg; total time=   4.9s
[CV] END alpha=0.9583333333333333, random_state=1, solver=sparse_cg; total time=   4.9s
[CV] END alpha=0.9583333333333333, random_state=1, solver=lbfgs; total time=   2.3s
[CV] END alpha=0.9583333333333333, random_state=1, solver=lbfgs; total time=   2.4s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.51261e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=1.0, random_state=1, solver=auto; total time=   5.2s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.50624e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .............alpha=1.0, random_state=1, solver=auto; total time=   6.1s
[CV] END ..............alpha=1.0, random_state=1, solver=svd; total time=   7.7s
[CV] END ..............alpha=1.0, random_state=1, solver=svd; total time=   6.6s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.51261e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=1.0, random_state=1, solver=cholesky; total time=   4.1s

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.50624e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

[CV] END .........alpha=1.0, random_state=1, solver=cholesky; total time=   4.3s
[CV] END .............alpha=1.0, random_state=1, solver=lsqr; total time=   4.2s
[CV] END .............alpha=1.0, random_state=1, solver=lsqr; total time=   4.2s
[CV] END ........alpha=1.0, random_state=1, solver=sparse_cg; total time=   4.6s
[CV] END ........alpha=1.0, random_state=1, solver=sparse_cg; total time=   7.3s
[CV] END ............alpha=1.0, random_state=1, solver=lbfgs; total time=   3.3s
[CV] END ............alpha=1.0, random_state=1, solver=lbfgs; total time=   2.3s

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
50 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py", line 1011, in fit
    return super().fit(X, y, sample_weight=sample_weight)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py", line 706, in fit
    "'lbfgs' solver can be used only when positive=True. "
ValueError: 'lbfgs' solver can be used only when positive=True. Please use another solver.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [-36495.69697973 -36495.71636097 -36495.69697973 -37352.62988028
 -37244.20570628             nan -36495.69692435 -36495.69692435
 -36495.69692435 -37352.62988028 -37244.20570628             nan
 -36495.69686914 -36495.69686914 -36495.69686914 -37352.62988028
 -37244.20570628             nan -36495.69681407 -36495.69681407
 -36495.69681407 -37352.62988028 -37244.20570628             nan
 -36495.69675916 -36495.69675916 -36495.69675916 -37352.62988028
 -37244.20570628             nan -36495.6967044  -36495.6967044
 -36495.6967044  -37352.62988028 -37244.20570628             nan
 -36495.69664979 -36495.69664979 -36495.69664979 -37352.62988028
 -37244.20570628             nan -36495.69659534 -36495.69659534
 -36495.69659534 -37352.62988028 -37244.20570628             nan
 -36495.69654103 -36495.69654103 -36495.69654103 -37352.62988028
 -37244.20570628             nan -36495.69648687 -36495.69648687
 -36495.69648687 -37352.62988028 -37244.20570628             nan
 -36495.69643287 -36495.69643287 -36495.69643287 -37352.62988028
 -37244.20570628             nan -36495.69637901 -36495.69637901
 -36495.69637901 -37352.62988028 -37244.20570628             nan
 -36495.69632531 -36495.69632531 -36495.69632531 -37352.62988028
 -37244.20570628             nan -36495.69627175 -36495.69627175
 -36495.69627175 -37352.62988028 -37244.20570628             nan
 -36495.69621834 -36495.69621834 -36495.69621834 -37352.62988028
 -37244.20570628             nan -36495.69616508 -36495.69616508
 -36495.69616508 -37352.62988028 -37244.20570628             nan
 -36495.69611197 -36495.69611197 -36495.69611197 -37352.62988028
 -37244.20570628             nan -36495.696059   -36495.696059
 -36495.696059   -37352.62988028 -37244.20570628             nan
 -36495.69600618 -36495.69600618 -36495.69600618 -37352.62988028
 -37244.20570628             nan -36495.69595351 -36495.69595351
 -36495.69595351 -37352.62988028 -37244.20570628             nan
 -36495.69590098 -36495.69590098 -36495.69590098 -37352.62988028
 -37244.20570628             nan -36495.6958486  -36495.6958486
 -36495.6958486  -37352.62988028 -37244.20570628             nan
 -36495.69579636 -36495.69579636 -36495.69579636 -37352.62988028
 -37244.20570628             nan -36495.69574427 -36495.69574427
 -36495.69574427 -37352.62988028 -37244.20570628             nan
 -36495.69569233 -36495.69569233 -36495.69569233 -37352.62988028
 -37244.20570628             nan]
  category=UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.25474e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

GridSearchCV(cv=2, estimator=Ridge(),
             param_grid={'alpha': array([0.        , 0.04166667, 0.08333333, 0.125     , 0.16666667,
       0.20833333, 0.25      , 0.29166667, 0.33333333, 0.375     ,
       0.41666667, 0.45833333, 0.5       , 0.54166667, 0.58333333,
       0.625     , 0.66666667, 0.70833333, 0.75      , 0.79166667,
       0.83333333, 0.875     , 0.91666667, 0.95833333, 1.        ]),
                         'random_state': [1],
                         'solver': ['auto', 'svd', 'cholesky', 'lsqr',
                                    'sparse_cg', 'lbfgs']},
             scoring='neg_root_mean_squared_error', verbose=2)

In [ ]:
ridge_cv.best_params_

{'alpha': 1.0, 'random_state': 1, 'solver': 'auto'}

In [ ]:
import pickle
pickle.dump(ridge_cv.best_estimator_, open("/content/drive/My Drive/Machine learning/Ridge.sav", 'wb'))

In [ ]:
loaded_model = pickle.load(open("/content/drive/My Drive/Machine learning/Ridge.sav", 'rb'))

Pasamos a procesar el df_test para poder hacer predicciones con el modelo obtenido.

In [ ]:
df_test=pd.read_csv("/content/data/test.csv")

In [ ]:
df_test

,train_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,121326,Levana Jena baby monitor,Good,671,NaN,0,Used less than a year. Great condition. Smoke ...
1,1437618,Belle Dress BUNDLE,Good,633,Disney,0,"Beautiful Belle Dress! Size 2/4, but is defini..."
2,899441,Michael Kors Wallet,Good,1276,Michael Kors,0,"in great shape, hardly any ware!"
3,452401,Girls 5T Skirt set Free Shipping,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",638,NaN,1,Barely worn No holes or stains This is a 2pc s...
4,1225939,Cross silver stamped 925 necklace,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",1181,NaN,1,24 inches
...,...,...,...,...,...,...,...
369047,1079099,Deadpool back in black set,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",988,NaN,1,"Deadpool back in black 1 1st print, variant, a..."
369048,1135252,Black Shorts With Brown Belt,Good,1139,NaN,1,Shorts from forever21. Size 28
369049,477391,Banana Republic pullover sweater,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)",1236,Banana Republic,0,Cream
369050,1174048,Disney Mickey Mouse commemorative watch,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",1025,Disney,1,85th anniversary commemorative watch brand-new...
369051,511537,Bridgetollbeading,"New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",11,Clinique,1,Happy only

In [ ]:
import nltk

nltk.download([
      "names",
    "stopwords",
    "state_union",
    "twitter_samples",
    "movie_reviews",
    "averaged_perceptron_tagger",
    "vader_lexicon",
    "punkt",
    "wordnet",
    "omw-1.4"
])

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package state_union to /root/nltk_data...
[nltk_data]   Unzipping corpora/state_union.zip.
[nltk_data] Downloading package twitter_samples to /root/nltk_data...
[nltk_data]   Unzipping corpora/twitter_samples.zip.
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer

wordnet_lem = WordNetLemmatizer()

In [ ]:
df_test_text=pd.DataFrame()
df_test_text['text_lemm']=df_test['item_description'].map(lambda x:wordnet_lem.lemmatize(str(x)))

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [ ]:
df_test_text['polarity']=df_test_text['text_lemm'].map(lambda x: sia.polarity_scores(str(x)))

In [ ]:
df_polarity = pd.concat([df_test, df_test_text['polarity'].apply(pd.Series)], axis=1)

In [ ]:
df_polarity['item_description']=df_polarity['item_description'].map(lambda x:str(x))
final_features = vectorizer.transform(df_polarity['item_description']).toarray()
final_features.shape

(369052, 20)

In [ ]:
tokens_test=vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
df_test_tfidfvect = pd.DataFrame(data = final_features,columns = tokens_test)

In [ ]:
df_test_tfidfvect

,black,box,brand,bundle,color,condition,free,good,great,like,new,pink,price,rm,shipping,size,small,tags,used,worn
0,0.0,0.0,0.000000,0.000000,0.0,0.399895,0.413360,0.0,0.477710,0.0,0.000000,0.0,0.000000,0.486495,0.000000,0.000000,0.0,0.0,0.452032,0.000000
1,0.0,0.0,0.000000,0.343359,0.0,0.269085,0.556291,0.0,0.321446,0.0,0.000000,0.0,0.000000,0.000000,0.588936,0.223754,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,1.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.552862,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.585305,0.000000,0.0,0.0,0.000000,0.593095
4,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
369048,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000
369049,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
369050,0.0,0.0,0.646467,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.511581,0.0,0.399246,0.401209,0.000000,0.000000,0.0,0.0,0.000000,0.000000
369051,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000

In [ ]:
text_counts=cv.transform(df_polarity['item_description'])

In [ ]:
df_countvect= pd.DataFrame(data=text_counts.toarray(),columns=cv.get_feature_names_out())

In [ ]:
df_polarity=df_polarity.drop(columns=['item_description'])

In [ ]:
df_test_final=pd.concat([df_polarity,pd.get_dummies(df_polarity['item_condition_id'])],axis=1).drop(columns=['item_condition_id'])

In [ ]:
df_test_final

,train_id,name,category_name,brand_name,shipping,neg,neu,pos,compound,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor
0,121326,Levana Jena baby monitor,671,NaN,0,0.000,0.704,0.296,0.7984,0,1,0,0,0
1,1437618,Belle Dress BUNDLE,633,Disney,0,0.059,0.533,0.408,0.9773,0,1,0,0,0
2,899441,Michael Kors Wallet,1276,Michael Kors,0,0.000,0.532,0.468,0.6588,0,1,0,0,0
3,452401,Girls 5T Skirt set Free Shipping,638,NaN,1,0.200,0.627,0.173,0.1208,0,0,1,0,0
4,1225939,Cross silver stamped 925 necklace,1181,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1079099,Deadpool back in black set,988,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0
369048,1135252,Black Shorts With Brown Belt,1139,NaN,1,0.000,1.000,0.000,0.0000,0,1,0,0,0
369049,477391,Banana Republic pullover sweater,1236,Banana Republic,0,0.000,1.000,0.000,0.0000,0,0,1,0,0
369050,1174048,Disney Mickey Mouse commemorative watch,1025,Disney,1,0.000,0.892,0.108,0.3182,0,0,0,1,0
369051,511537,Bridgetollbeading,11,Clinique,1,0.000,0.213,0.787,0.5719,0,0,0,1,0

In [ ]:
df_test_final['brand_name']=df_test_final['brand_name'].replace(np.nan,"NaN")

In [ ]:
import json
f = open('/content/data/categories.json')
data = json.load(f)

In [ ]:
df_categories=pd.DataFrame.from_dict(data,orient='index',columns=['categories'])

In [ ]:
df_categories_split=df_categories['categories'].str.split("/",expand=True)

In [ ]:
df_categories_split=df_categories_split.reset_index()

In [ ]:
df_categories_split

,index,0,1,2,3,4
0,808,Men,Tops,T-shirts,None,None
1,86,Electronics,Computers & Tablets,Components & Parts,None,None
2,1254,Women,Tops & Blouses,Blouse,None,None
3,485,Home,Home Décor,Home Décor Accents,None,None
4,1181,Women,Jewelry,Necklaces,None,None
...,...,...,...,...,...,...
1282,227,Handmade,Furniture,Fixture,None,None
1283,481,Home,Home Décor,Doormats,None,None
1284,280,Handmade,Jewelry,Clothing,None,None
1285,1106,Vintage & Collectibles,Supplies,Ephemera,None,None
1286,348,Handmade,Pets,Blanket,None,None

In [ ]:
df_categories_split.columns=['category_name','nodo1','nodo2','nodo3','nodo4','nodo5']

In [ ]:
df_categories_split=df_categories_split.set_index('category_name')

In [ ]:
dictionary=df_categories_split.to_dict()

In [ ]:
df_test_final=df_test_final.astype({"category_name": 'str'})

In [ ]:
df_test_final

,train_id,name,category_name,brand_name,shipping,neg,neu,pos,compound,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor
0,121326,Levana Jena baby monitor,671,NaN,0,0.000,0.704,0.296,0.7984,0,1,0,0,0
1,1437618,Belle Dress BUNDLE,633,Disney,0,0.059,0.533,0.408,0.9773,0,1,0,0,0
2,899441,Michael Kors Wallet,1276,Michael Kors,0,0.000,0.532,0.468,0.6588,0,1,0,0,0
3,452401,Girls 5T Skirt set Free Shipping,638,NaN,1,0.200,0.627,0.173,0.1208,0,0,1,0,0
4,1225939,Cross silver stamped 925 necklace,1181,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1079099,Deadpool back in black set,988,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0
369048,1135252,Black Shorts With Brown Belt,1139,NaN,1,0.000,1.000,0.000,0.0000,0,1,0,0,0
369049,477391,Banana Republic pullover sweater,1236,Banana Republic,0,0.000,1.000,0.000,0.0000,0,0,1,0,0
369050,1174048,Disney Mickey Mouse commemorative watch,1025,Disney,1,0.000,0.892,0.108,0.3182,0,0,0,1,0
369051,511537,Bridgetollbeading,11,Clinique,1,0.000,0.213,0.787,0.5719,0,0,0,1,0

In [ ]:
df_test_final['nodo1']=df_test_final['category_name'].map(dictionary['nodo1'])
df_test_final['nodo2']=df_test_final['category_name'].map(dictionary['nodo2'])
df_test_final['nodo3']=df_test_final['category_name'].map(dictionary['nodo3'])
df_test_final['nodo4']=df_test_final['category_name'].map(dictionary['nodo4'])
df_test_final['nodo5']=df_test_final['category_name'].map(dictionary['nodo5'])

In [ ]:
df_test_final

,train_id,name,category_name,brand_name,shipping,neg,neu,pos,compound,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,nodo1,nodo2,nodo3,nodo4,nodo5
0,121326,Levana Jena baby monitor,671,NaN,0,0.000,0.704,0.296,0.7984,0,1,0,0,0,Kids,Safety,Monitors,None,None
1,1437618,Belle Dress BUNDLE,633,Disney,0,0.059,0.533,0.408,0.9773,0,1,0,0,0,Kids,Girls 2T-5T,Dresses,None,None
2,899441,Michael Kors Wallet,1276,Michael Kors,0,0.000,0.532,0.468,0.6588,0,1,0,0,0,Women,Women's Accessories,Wallets,None,None
3,452401,Girls 5T Skirt set Free Shipping,638,NaN,1,0.200,0.627,0.173,0.1208,0,0,1,0,0,Kids,Girls 2T-5T,Tops & T-Shirts,None,None
4,1225939,Cross silver stamped 925 necklace,1181,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,Women,Jewelry,Necklaces,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1079099,Deadpool back in black set,988,NaN,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,Vintage & Collectibles,Book,Comics,None,None
369048,1135252,Black Shorts With Brown Belt,1139,NaN,1,0.000,1.000,0.000,0.0000,0,1,0,0,0,Women,Athletic Apparel,Shorts,None,None
369049,477391,Banana Republic pullover sweater,1236,Banana Republic,0,0.000,1.000,0.000,0.0000,0,0,1,0,0,Women,Sweaters,Crewneck,None,None
369050,1174048,Disney Mickey Mouse commemorative watch,1025,Disney,1,0.000,0.892,0.108,0.3182,0,0,0,1,0,Vintage & Collectibles,Collectibles,Other,None,None
369051,511537,Bridgetollbeading,11,Clinique,1,0.000,0.213,0.787,0.5719,0,0,0,1,0,Beauty,Fragrance,Women,None,None

In [ ]:
df_merge=df_test_final

In [ ]:
df_merge['nodo1']=enc1.transform(df_merge['nodo1'].values.reshape(-1,1))
df_merge['nodo2']=enc2.transform(df_merge['nodo2'].values.reshape(-1,1))
df_merge['nodo3']=enc3.fit_transform(df_merge['nodo3'].values.reshape(-1,1))
df_merge['nodo4']=enc4.fit_transform(df_merge['nodo4'].values.reshape(-1,1))
df_merge['nodo5']=enc5.transform(df_merge['nodo5'].values.reshape(-1,1))
df_merge['name_encoded']=enc6.fit_transform(df_merge['name'].values.reshape(-1,1))
df_merge['brand_encoded']=enc7.fit_transform(df_merge['brand_name'].values.reshape(-1,1))

In [ ]:
df_merge

,train_id,name,category_name,brand_name,shipping,neg,neu,pos,compound,Fair,...,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,nodo1,nodo2,nodo3,nodo4,nodo5,name_encoded,brand_encoded
0,121326,Levana Jena baby monitor,671,NaN,0,0.000,0.704,0.296,0.7984,0,...,0,0,0,4.0,84.0,473.0,6.0,2.0,151105.0,2012.0
1,1437618,Belle Dress BUNDLE,633,Disney,0,0.059,0.533,0.408,0.9773,0,...,0,0,0,4.0,47.0,248.0,6.0,2.0,47586.0,868.0
2,899441,Michael Kors Wallet,1276,Michael Kors,0,0.000,0.532,0.468,0.6588,0,...,0,0,0,9.0,110.0,762.0,6.0,2.0,182580.0,1905.0
3,452401,Girls 5T Skirt set Free Shipping,638,NaN,1,0.200,0.627,0.173,0.1208,0,...,1,0,0,4.0,47.0,713.0,6.0,2.0,114023.0,2012.0
4,1225939,Cross silver stamped 925 necklace,1181,NaN,1,0.000,1.000,0.000,0.0000,0,...,0,1,0,9.0,58.0,489.0,6.0,2.0,81607.0,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1079099,Deadpool back in black set,988,NaN,1,0.000,1.000,0.000,0.0000,0,...,0,1,0,8.0,13.0,192.0,6.0,2.0,85261.0,2012.0
369048,1135252,Black Shorts With Brown Belt,1139,NaN,1,0.000,1.000,0.000,0.0000,0,...,0,0,0,9.0,5.0,625.0,6.0,2.0,51257.0,2012.0
369049,477391,Banana Republic pullover sweater,1236,Banana Republic,0,0.000,1.000,0.000,0.0000,0,...,1,0,0,9.0,96.0,209.0,6.0,2.0,43345.0,327.0
369050,1174048,Disney Mickey Mouse commemorative watch,1025,Disney,1,0.000,0.892,0.108,0.3182,0,...,0,1,0,8.0,29.0,503.0,6.0,2.0,87384.0,868.0
369051,511537,Bridgetollbeading,11,Clinique,1,0.000,0.213,0.787,0.5719,0,...,0,1,0,0.0,41.0,777.0,6.0,2.0,60986.0,684.0

In [ ]:
df_merge=df_merge.drop(columns=['name'])

In [ ]:
df_test_final=df_merge.drop(columns=['brand_name'])

In [ ]:
df_test_final=df_test_final.reset_index()

In [ ]:
df_test_final['category']=df_test_final['index']

In [ ]:
df_test_final=df_test_final.drop(columns=['index'])

In [ ]:
df_test_final

,train_id,category_name,shipping,neg,neu,pos,compound,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,nodo1,nodo2,nodo3,nodo4,nodo5,name_encoded,brand_encoded,category
0,121326,671,0,0.000,0.704,0.296,0.7984,0,1,0,0,0,4.0,84.0,473.0,6.0,2.0,151105.0,2012.0,0
1,1437618,633,0,0.059,0.533,0.408,0.9773,0,1,0,0,0,4.0,47.0,248.0,6.0,2.0,47586.0,868.0,1
2,899441,1276,0,0.000,0.532,0.468,0.6588,0,1,0,0,0,9.0,110.0,762.0,6.0,2.0,182580.0,1905.0,2
3,452401,638,1,0.200,0.627,0.173,0.1208,0,0,1,0,0,4.0,47.0,713.0,6.0,2.0,114023.0,2012.0,3
4,1225939,1181,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,9.0,58.0,489.0,6.0,2.0,81607.0,2012.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1079099,988,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,8.0,13.0,192.0,6.0,2.0,85261.0,2012.0,369047
369048,1135252,1139,1,0.000,1.000,0.000,0.0000,0,1,0,0,0,9.0,5.0,625.0,6.0,2.0,51257.0,2012.0,369048
369049,477391,1236,0,0.000,1.000,0.000,0.0000,0,0,1,0,0,9.0,96.0,209.0,6.0,2.0,43345.0,327.0,369049
369050,1174048,1025,1,0.000,0.892,0.108,0.3182,0,0,0,1,0,8.0,29.0,503.0,6.0,2.0,87384.0,868.0,369050
369051,511537,11,1,0.000,0.213,0.787,0.5719,0,0,0,1,0,0.0,41.0,777.0,6.0,2.0,60986.0,684.0,369051

In [ ]:
df_test_final=pd.concat([df_test_final,df_test_tfidfvect,df_countvect],axis=1)

In [ ]:
df_test_final=df_test_final.drop(columns=['category'])

In [ ]:
df_test_final=df_test_final.drop(columns=['train_id'])

In [ ]:
df_final.columns

Index(['category_name', 'shipping', 'neg', 'neu', 'pos', 'compound',
       'product_price', 'Fair', 'Good',
       'Like New (codes: BNWOT, MWOB, NWOT, BNWOB)',
       'New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)', 'Poor', 'nodo1', 'nodo2',
       'nodo3', 'nodo4', 'nodo5', 'name_encoded', 'brand_encoded', 'black',
       'box', 'brand', 'bundle', 'color', 'condition', 'free', 'good', 'great',
       'like', 'new', 'pink', 'price', 'rm', 'shipping', 'size', 'small',
       'tags', 'used', 'worn', '1', '2', '3', '5', 'black', 'brand', 'bundle',
       'color', 'condition', 'free', 'great', 'new', 'pink', 'price', 'rm',
       's', 'shipping', 'size', 'used', 'worn'],
      dtype='object')

In [ ]:
df_test_final.columns

Index(['category_name', 'shipping', 'neg', 'neu', 'pos', 'compound', 'Fair',
       'Good', 'Like New (codes: BNWOT, MWOB, NWOT, BNWOB)',
       'New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)', 'Poor', 'nodo1', 'nodo2',
       'nodo3', 'nodo4', 'nodo5', 'name_encoded', 'brand_encoded', 'black',
       'box', 'brand', 'bundle', 'color', 'condition', 'free', 'good', 'great',
       'like', 'new', 'pink', 'price', 'rm', 'shipping', 'size', 'small',
       'tags', 'used', 'worn', '1', '2', '3', '5', 'black', 'brand', 'bundle',
       'color', 'condition', 'free', 'great', 'new', 'pink', 'price', 'rm',
       's', 'shipping', 'size', 'used', 'worn'],
      dtype='object')

In [ ]:
df_test_final = df_test_final.reindex(columns=df_final.drop(columns=['category_name','name_encoded','brand_encoded','product_price']).columns)

In [ ]:
df_test_final=df_test_final.drop(columns=['category_name','name_encoded','brand_encoded'])

In [ ]:
df_test_final

,shipping,neg,neu,pos,compound,Fair,Good,"Like New (codes: BNWOT, MWOB, NWOT, BNWOB)","New (codes: BNWT, BNIP MIB, NWT, NIB, BNIB)",Poor,...,great,new,pink,price,rm,s,shipping,size,used,worn
0,0,0.000,0.704,0.296,0.7984,0,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,0,0.059,0.533,0.408,0.9773,0,1,0,0,0,...,1,0,0,0,0,0,2,1,0,0
2,0,0.000,0.532,0.468,0.6588,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1,0.200,0.627,0.173,0.1208,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369047,1,0.000,1.000,0.000,0.0000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
369048,1,0.000,1.000,0.000,0.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
369049,0,0.000,1.000,0.000,0.0000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
369050,1,0.000,0.892,0.108,0.3182,0,0,0,1,0,...,0,2,0,1,1,0,0,0,0,0
369051,1,0.000,0.213,0.787,0.5719,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_predict=pd.DataFrame()
df_predict['train_id']=df_test['train_id']
df_predict['price']=tree_cv.best_estimator_.predict(df_test_final.values)

In [ ]:
df_predict

        train_id         price
0         121326  24917.341941
1        1437618  18861.516564
2         899441  33834.268466
3         452401  16305.207891
4        1225939  20685.937071
...          ...           ...
369047   1079099  24653.525007
369048   1135252  32189.272912
369049    477391  20279.291587
369050   1174048  20685.937071
369051    511537  16305.207891

[369052 rows x 2 columns]

In [ ]:
df_predict.to_csv("df_predict.csv",index=False)